.itemsData {
  width: 70%;
  background: rgb(238, 240, 221);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border: 5px solid gold;
  gap: 10px;
  margin-left: 70px;
  font-size: 25px;
  font-weight: bold;
  color: navy;
}
.itemsData:hover {
  opacity: 0.4;
}
