* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 90%;
  padding: 100px;
  background-color: rgb(19, 107, 113);
  border-radius: 15px;
  margin: 50px;
}

.formContainer {
  width: 50%;
  padding: 30px;
  background-color: #05020a;
  border-radius: 15px;

  margin-bottom: 30px;
}
.listContainer {
  width: 50%;
  padding: 30px;
  background-color: #05020a;
  border-radius: 15px;
}

.formContainer:hover {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(41, 114, 149, 1) 45%,
    rgba(75, 214, 184, 1) 73%
  );
}
.listContainer:hover {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(41, 114, 149, 1) 45%,
    rgba(75, 214, 184, 1) 73%
  );
}
